google-play-scraper
pandas
numpy
nltk
spacy
textblob
scikit-learn
gensim
matplotlib
seaborn
plotly
cx_Oracle
streamlit
bertopic
python-dotenv
jinja2
pytest
transformers
torch # For Hugging Face Transformers
python-oracledb # For Oracle DB connection
configparser # For reading db_config.ini